.CreateMenuContent{
    width: 100%;
    padding: 10px;
    .bookInfoBox{
        margin-bottom: 30px;
        .title{
            color: $baseOrange;
        }
        .subTitle{
            margin-top: 20px;
            color: $subDark-gray;
        }
    }
    
}