.Create{
    width: 100%;
    position: relative;
    // 定位
    .Function{
        position: fixed;
        top: calc(100px + 20px);
        left: 20px;
        z-index: 3;
    }
    .PageView{
        position: fixed;
        top: calc(100px + 20px);
        right: 20px;
        z-index: 2;
    }
    .main-content{
        width: 100%;
        z-index: 1;
    }

//====================================
// CreateCanvas
//====================================
.CreateCanvas{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    .FunctionBar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        width: 30%;
        background-color: $baseBlue;
        border-radius: 100px;
        margin-top: 30px;
        .Zoom{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            flex: 1;
            color: $subWhite;
        }
        .stepGroup{
            width: 60px;
            display: flex;
            justify-content: space-between;
            .step{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $subWhite;
                border-radius: 20px;
            }
            .next{
                width: 25px;
                height: 25px;
                background-image: url(/src/Assets/img/icon/nextStep.png);
                background-size: cover;
                background-position: center center;
            }
            .last{
                width: 25px;
                height: 25px;
                background-image: url(/src/Assets/img/icon/lastStep.png);
                background-size: cover;
                background-position: center center;
            }
        }
    }
    .canvasGroup{
        margin-top: 30px;
    }
    .canvas{
        width: 680px;
        height: 380px;
        background-color: $subWhite;
        border: $subGray solid 1px;
    }
    .addCanvas{
        margin-top: 10px;
        margin-bottom: 50px;
    }



}

// =========================
// CreateMenu 共用設定
// =========================
.CreateMenu{
    display: flex;
    flex-direction: column;
    width: 250px; 
    height: calc(100vh - 140px);
    background-color: $subWhite;
    transition: width 0.3s ease;
    // 超出範圍隱藏
    overflow: auto;
    scrollbar-width: none;
    // -------------------------
    // 共用組件
    // -------------------------
    .Toggle{
        width: 25px;
        height: 25px;
        background-image: url("/src/Assets/img/icon/open.png");
        background-size: cover;
        background-position: center;
    }
}
// -------------------------
// Function
// -------------------------
.Function{
    border-right: solid $baseBlue;
    .stickyBar{
        width: 100%;
        position: sticky;
        top: 0;
        background-color: $subWhite;
        border-bottom: $baseBlue solid;
        z-index: 2;
    }
    .FunctionBar{
        width: 100%;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .bookInfoBox{
        padding: 10px;
        margin-bottom: 30px;
        .title{
            color: $baseOrange;
        }
        .subTitle{
            margin-top: 20px;
            color: $subDark-gray;
        }
    }
}
// -------------------------
// PageView
// -------------------------
.PageView{
    border-left: solid $baseBlue;
    .topBar{
        width: 100%;
        position: sticky;
        top: 0;
        padding: 10px;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .MenuContent{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        gap: 10px;
    }
    .modelView{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .modelContent{
            width: 160px;
            height: 100px;
            border: $subGray solid;
            background-color: $subWhite;
            border-radius: 10px;
            margin-bottom: 10px;
        }
    }
}

// =========================
// .close 後的樣式
// =========================
.Function.close, .PageView.close{
    width: 50px; 
    .Toggle{
        background-image: url("/src/Assets/img/icon/close.png");
    }
    .CheckBox{
        display: none;
    }
    .bookInfoBox{
        display: none;
    }
    .MenuContent{
        display: none;
    }
}








}

